@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Istok Web", sans-serif;
}

.card-container {
  display: inline-grid;
  margin-left:30px;
  margin-right:20px;
}

.card {
  position: relative;
  width: 320px;
  height: 480px;
  background: #191919;
  border-radius: 20px;
  overflow: hidden;
  margin: 15px;
  margin-left:50px;
  margin-right:50px;
}

.card::before {
  content: "";
  position: absolute;
  top: -50%;
  width: 100%;
  height: 100%;
  background: #751f3d;
  transform: skewY(345deg);
  transition: 0.5s;
}

.card:hover::before {
  top: -70%;
  transform: skewY(390deg);
}

.card::after {
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 600;
  font-size: 6em;
  color: rgba(0, 0, 0, 0.1);
}

.card .imgBox {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  z-index: 1;
}

.card .contentBox {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

.card .contentBox h3 {
  font-size: 18px;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.card .contentBox .price {
  font-size: 24px;
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
}


.card .contentBox .buy {
  position: relative;
  top: 100px;
  opacity: 0;
  padding: 10px 30px;
  margin-top: 15px;
  color: #000000;
  text-decoration: none;
  background: #751f3d;
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.5s;
}


.card .contentBox .buy:hover{
  background: #D94965;	
}

.card:hover .contentBox .buy {
  top: 0;
  opacity: 1;
}

.product {
  height: 300px;
  width: auto;
}



.buttons {
	 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  text-align: center;
  height:10px;
}

.buttons a {
  display: inline-block;
  padding: 10px 30px;
  margin: 0 10px;
  color: #000000;
  text-decoration: none;
  background: #751f3d;
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.buttons a:hover {
  background: #D94965;
}


/*prova*/

.botton-top {
  display: none;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 10px;
}
.prova {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D94965;
}



.prova ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin-right: 100px;
}

.prova ul li {
    margin-left: 100px;
}

.prova ul li a{
    text-decoration: none;
    color: white;
    
}

.prova ul li a:hover{
    text-decoration: none;
    color: red;
    
}



.prova form {
    margin: 10px;
    align-items: center;
    margin-right: 100px;
    color: white;
}



/*bottone prova*/
    /* COLORS */
.outer {
  position: absolute;
  margin: auto;
  width: 40px;
  /*margin-top: 200px;*/
  cursor: pointer;
}

.inner {
  width: inherit;
  text-align: center;
}

.inner label { 
  font-size: .7em; 
  line-height: 3.8em;
  text-transform: uppercase;
  color: #fff;
  transition: all .3s ease-in;
  opacity: 0;
  cursor: pointer;
}

.inner:before, .inner:after {
  position: absolute;
  content: '';
  height: 1px;
  width: inherit;
  background: #FFC107;
  left: 0;
  transition: all .3s ease-in;
}

.inner:before {
  top: 50%; 
  transform: rotate(45deg);  
}

.inner:after {  
  bottom: 50%;
  transform: rotate(-45deg);  
}

.outer:hover label {
  opacity: 1;
}

.outer:hover .inner:before,
.outer:hover .inner:after {
  transform: rotate(0);
}

.outer:hover .inner:before {
  top: 0;
}

.outer:hover .inner:after {
  bottom: 0;
}


