body{
	font-family: "Open Sans",Arial,"Helvetica Neue",Helvetica,sans-serif;
	background-color: #F2F4F8;
}




#Checkout{
	/*
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	width:100%;
	height:100%;
	margin: 50px;
	background-color: #F2F4F8;
	border: 10px solid #fff;
	*/
	/*max-width: 900px;*/
    margin: 0 auto;
    padding: 20px;
    background-color: #f3f3f3;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: lighter;
    color: #2c2f48;
    margin-bottom: 20px;
	
}

#check{
	font-size:40px;
	color:blue;
	font-weight:700;
	text-align:center;
	margin-top:20px;
	margin-bottom:10px;
	display:block;
	
}

#Cart{
	width:45%;
	heigth:100%;
	background-image:linear-gradient(to bottom right, #E3F0FF, #FAFCFF);
	margin-right:100px;
	overflow:auto;
	border-radius:10px;
	
}

.Cart-Items{
	/*
 width: 95%;
 height: 40%;
 */
 display: flex;
 justify-content: space-between;
 align-items: center;
 
}



.image-box{
 width: 15%;
 height:95%;
 text-align: center;
 display:flex;
 flex-direction:column;
}

.cart-img{
	width:100%;
	height:80%;
}

.about{
 height: 100%;
 display:flex;
 flex-direction:column;
 align-items:left;
}

/*
.title{
 padding-top: 5px;
 line-height: 13px;
 font-size: 30px;
 font-family: 'Open Sans';
 font-weight: 800;
 color: #202020;
}
*/

.subtitle{
 line-height: 10px;
 font-size: 18px;
 font-family: 'Open Sans';
 font-weight: 600;
 color: #909090;
}

.counter{
 width: 15%;
 display: flex;
 justify-content: space-between;
 align-items: center;
 flex-direction:column;
 font-family:'Open-sans';
 
}
.count{
 font-size: 20px;
 font-family: 'Open sans';
 font-weight: 900;
 color: #202020;
 align-items:center;
 margin-top:30px;
}

.prices{
 height: 100%;
 text-align: right;
 font-family:'Open-sans';
 color:#4488dd;
}





.amount{
 padding-top: 20px;
 font-size: 26px;
 font-family: 'Open Sans';
 font-weight: 800;
 color: #202020;
 align-items:center;
}

.checkout{
 float: right;
 margin-right: 5%;
 width: 28%;
 margin-bottom:5%;
}
.total{
 width: 100%;
 display: flex;
 justify-content: space-between;
}
.Subtotal{
 font-size: 22px;
 font-family: 'Open Sans';
 font-weight: 700;
 color: #202020;
}
.items{
 font-size: 16px;
 font-family: 'Open Sans';
 font-weight: 500;
 color: #909090;
 line-height: 10px;
}
.total-amount{
 font-size: 36px;
 font-family: 'Open Sans';
 font-weight: 900;
 color: #202020;
}

.ins{
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  background-color: #751f3d;
  border-radius: 4px;
  text-decoration: none;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
 
  transition: background-color 0.3s ease;
}


.vai:link{
	text-decoration:none;
	font-size:15px;
	
}

.vai:visited{
	text-decoration:none;
	font-style:oblique;
	color: #FFFFFF;
}

h2.riepilogo{
	text-align:center;
	font-size:35px;
	margin-bottom:20px;
}


.indirizzi, .Metodi{
	width:70%;
	height:50%;
	display:list;

	flex-wrap:wrap;
	justify-content:center;
	font-size:20px;
	margin:0 auto;
	border-style:dotted;
}

input[type="radio"]{
	display:none;
}



.indirizzo, .metodo{
	margin-bottom:20px;
	display:block;
	font-size:30px;
	text-align:center;
	line-height:1.5;
	
}

form#checkmate{
	display:flex;
	flex-direction:row;
	background-image:linear-gradient(to bottom right,#FF82AB,#FFF0F5);
	border-radius:10px;
}

#concludi{
	position:absolute;
	top:200px;
	right:50px;
	height:5%;
	width:7%;
	font-size:20px;
	color:white;
	background-color:#751f3d;
	border-radius:10px;
}


input[type="radio"]:checked + label::after{
	content:url(../Immagini/spunta-verde.png);
}




.title-container {
  text-align: center;
  padding: 20px;
  background-color: #F2F4F8;
}

.title {
  font-size: 36px;
  font-weight: bold;
}

.line {
  width: 100px;
  height: 2px;
  background-color: orange;
  margin: 10px auto;
}
  
.line-check {
  height:1px;
  width:100%;
  margin-top:10px;
  margin-bottom:10px;
  background:#ddd;
  margin-left:10px;
  margin-right:10px;
}